service: validation-middy
frameworkVersion: '2'
provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: 20201221
plugins:
  - serverless-offline
functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          method: POST
          path: /hello
