service: validation
frameworkVersion: '2'
configValidationMode: error
provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  memorySize: 128
package:
  patterns:
    - '!**'
    - handler.js
    - node_modules/ajv/dist/runtime/equal.js
    - node_modules/fast-deep-equal/index.js
    - schema/helloPost.js
  excludeDevDependencies: false
plugins:
  - serverless-offline
functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          method: POST
          path: /hello
